# Homework 11 Pandas

## Task 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [21]:
%%time
import pandas as pd

# https://grouplens.org/datasets/movielens/100k/
ratings = pd.read_csv('u.data', names = ['user_id', 'item_id', 'rating', 'timestam'], sep = '\t') 

ratings[ ratings['rating'] == 5 ].groupby('item_id').count().sort_values('user_id', ascending=False).head()

Wall time: 198 ms

         user_id  rating  timestam
item_id
50           325     325       325
100          227     227       227
127          214     214       214
174          202     202       202
56           188     188       188

## Task 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [62]:
%%time
import pandas as pd

pool = pd.read_csv('power.csv')

#pool[pool['country'].str.contains('est|lat|lit', case=False)]['country'].unique()
# 'Lithuania', 'Latvia', 'Estonia'

pool[ 
    ( pool['country'].isin(['Lithuania', 'Latvia', 'Estonia']) ) &
    ( pool['category'].isin([4,12,21]) ) &
    ( pool['quantity'] > 0 ) &
    ( pool['year'].between(2005,2010, inclusive=True) )
]['quantity'].sum()

Wall time: 1.97 s

240580.0

## Task 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [84]:
%%time
import pandas as pd

serial = pd.read_html('https://jufc.ru/', attrs = {'class': 'right_result_table'}, encoding = 'utf-8')
#serial = pd.read_html('https://jufc.ru/', encoding = 'utf-8')

#serial
serial[0]

Wall time: 254 ms

     0         1  2   3
0  1.0     Милан  7  17
1  2.0  Сассуоло  7  15
2  3.0    Наполи  7  14
3  4.0      Рома  7  14
4  5.0   Ювентус  7  13